.fadeIn{
  /* cuando no funcione utlizar webkit */
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  /* para que si se cumpla la nim. */
-webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-name: conectorfadeIn;
animation-name: conectorfadeIn;
}

@keyframes conectorfadeIn {
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

.fadeInDown{
  /* cuando no funcione utlizar webkit */
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  /* para que si se cumpla la nim. */
-webkit-animation-fill-mode: both;
  animation-fill-mode: both;
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown ;
}

@keyframes fadeInDown {
  from{
    opacity: 0;
    /* se da una posición en 3d (x, y, z) */
    -webkit-transform:translate3d(0,0, 100%);
    transform:translate3d(0,0,100%);
  }
  to{
    opacity: 1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
  }
}
