.container{
  max-width: 900px;
  margin:auto;
}

.row{
  /* para que las columnas queden de manero horizontal */
  display: flex;
}

.columna-1{
  width: 8,333333333%;
}

.columna-2{
  width: 16,666666667%;
}
.columna-3{
  width: 24,999999999%;
}
.columna-4{
  width: 33,333333332%;
}
.columna-5{
  width: 41,666666665%;
}
.columna-6{
width: 49,999999998%;
}
.columna-7{
width: 58,333333331%;
}
.columna-8{
width: 66,666666664%;
}
.columna-9{
width: 74,999999997%;
}
.columna-10{
width: 83,33333333%;
}
.columna-11{
width: 91,666666663%;
}
.columna-12{
width: 100%;
}
