@import url('https://fonts.googleapis.com/css?family=McLaren|Open+Sans+Condensed:300,700|Open+Sans:400,700|Pacifico|Teko:400,700&display=swap');

/* variables para el código que se repite */
:root{
--green-color: green;
/* espaciado */
--space:10px;
/* normal variable para minimizar font size */
/* google fonds - importr tipografía */
--box-shadow: 0 0 2px  #272626;

}

/* variables para el código que se repite */
html,body{
  padding:0;
  margin:0;
  font-size: var(--normal);
font-family: 'Pacifico', cursive;;
}

nav{
  display: flex;
  background-color:white;
  padding: 20px;
  color:black;
  /* separar uno del otro */
  justify-content: space-between;
  /* separar uno del otro */
  /* alinear los elementos */
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
   padding-left: 20px;
   /* quitar punto en lista */
   list-style: none;
}

nav li a{
  color:red;
  /* quitear el lineado o remarcado */
  text-decoration: none;
}

nav li a:hover{
  color: var(--green-color);
}

                           /* main section */
.main_section{
  padding: var(--space);
  /* alinear texto */
  text-align: center;
  background-color: white;
  color: white;
}
.products{
  /* los dos puntos diagonal son para buscar un archivo fuera de la carpeta madre */
  background-image: url("../images/imagen1.jpg");
  max-height:50px;
  background-position: center top;
  /* imagenes sobrepuestas */
  padding:20%;
  /* forma vertical */
  display: flex;
  margin top: center;
}

.product{
  padding:var(--space);
  /* para subir la imagen */
  margin top: -230px;
}
.product .content{
  background-color: white;
  padding: 15px;
  margin: 10px;
  /* generador de sombra */
  box-shadow: var(--box-shadow);
}
/* configuracion imagen */

.img_content{
  text-align: center;
}

              /* botones */
.main_botton{
  background-color:#95cde2;;
  width:100%;
  padding: var(--space);
  font-size:12px;
  color:green;
  border:0;
  /* manito del sistema */
  cursor:pointer;
  /* vista mejor  del boton */
  border-radius:2px;
}
.main_botton:hover{
  background-color:#51a1dc;
  color: red;
}
